<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="atras()">ATRAS</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-container">
    <ion-button
      id="oso"
      (click)="oso()"
      style="background-color: white"
    ></ion-button>
    <ion-button
      id="perro"
      (click)="perro()"
      style="background-color: white"
    ></ion-button>
    <ion-button
      id="gato"
      (click)="gato()"
      style="background-color: white"
    ></ion-button>
  </div>
</ion-content>
