<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
    <form [formGroup]="form">
      <ion-card>
        <div>
          <ion-img src="./assets/idiomas.png" class="ico"></ion-img>
        </div>
        <ion-card-content>
          <ion-item style="margin-top: 25px">
            <ion-input
              label="Email"
              placeholder="Ingrese email"
              formControlName="email"
              style="color: yellow"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Password"
              placeholder=" Ingrese Password"
              type="password"
              value="password"
              formControlName="password"
              style="color: yellow"
            ></ion-input>
          </ion-item>
          <ion-label
            color="danger"
            *ngIf="
              form?.get('email')?.touched &&
              form?.get('email')?.hasError('email')
            "
            style="margin-left: 30%"
            >Email invalido</ion-label
          >
        </ion-card-content>
        <div class="botones">
          <ion-button
            size="full"
            [disabled]="!form.valid"
            (click)="login()"
            style="color: black"
            >Login</ion-button
          >
          <ion-button
            size="full"
            fill="clear"
            (click)="irRegistro()"
            style="color: black"
            >Registrarse</ion-button
          >
        </div>
      </ion-card>
    </form>
  </div>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Usuarios</ion-label>
      </ion-item>
      <ion-button
        class="ion-padding"
        slot="content"
        color="light"
        size="full"
        (click)="esAdmin()"
        >Admin</ion-button
      >
      <ion-button
        class="ion-padding"
        slot="content"
        color="light"
        size="full"
        (click)="esUser()"
        >Usuario</ion-button
      >
      <ion-button
        class="ion-padding"
        slot="content"
        color="light"
        size="full"
        (click)="esInvitado()"
        >Invitado</ion-button
      >
      <ion-button
        class="ion-padding"
        slot="content"
        color="light"
        size="full"
        (click)="esAnonimo()"
        >Anonimo</ion-button
      >
      <ion-button
        class="ion-padding"
        slot="content"
        color="light"
        size="full"
        (click)="esTester()"
        >Tester</ion-button
      >
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
