<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button (click)="idiomaEsp()">ESP</ion-button>
    <ion-button (click)="idiomaPort()">PORTUGUES</ion-button>
    <ion-button (click)="idiomaIng()">INGLES</ion-button>
    <ion-button (click)="irColor()">COLORES</ion-button>
    <ion-button (click)="irNumero()">NUMEROS</ion-button>
    <ion-button (click)="irAnimal()">ANIMALES</ion-button>
  </div>
</ion-content>
